/* General Styling and CSS Resets  */

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
} 

:root {
  --playBar-color:#282828;
  --content-bg: #141922;
  --sidebar-bg: #000000;
  --header-bg: #080b12;
  --secondary-color: #707377;
}

body {
  height:100vh;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration:none;
  color:var(--secondary-color)
}

a:hover {
  color:white;
}

h2 {
  font-size: 1.8rem;
  font-weight:900;
}

svg {
  fill:var(--secondary-color)
}

/* Utility */

.d_flex {
  display:flex;
}

.btn a{
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 2rem;
  text-transform: uppercase;
  font-size:.8rem;
}

.btn a {
  color:white;
}

.btn {
  transition: transform ease 0.3s;
}

.btn:hover {
  transform:scale(1.05);
}

.of_hidden {
  overflow: hidden;
}

.of_auto {
  overflow: auto;
}

.mobile {
  display: none;
}

/* Body Syzing \ Layout  */
.main-wrapper {
  justify-content: flex-start;
  height:calc(100% - 90px);
  width:100vw;
}

.sidebar-wrapper {
  background-color: var(--sidebar-bg);
  color:white;
  width:230px;
  padding:20px;
}

.sidebar {
  flex-direction: column;
  justify-content: start;
  height:calc(100% - 80px);
 }

/* Left Sidebar CSS  */
.desktop.logo {
  width: 115px;
  transition:transform ease .3s;
}

.desktop.logo:hover {
  transform:scale(1.2) translateX(10px)
}

.desktop.logo:hover {
  cursor: pointer;
}

.side-menu {
  align-items:self-start;
}

.side-menu ul {
  flex-direction: column;
  justify-content: space-between;
  height:100px;
  margin: 30px 0;
  gap:2px;
}

.side-menu ul li a {
  position: relative;
  height:25px;
  color:var(--secondary-color);
}

.side-menu ul li a.active {
  height:25px;
  color: white;
}

.side-menu .active svg {
  height:25px;
  fill: white;
}

.side-menu .active::before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 2px;
  height: 25px;
  background-color: greenyellow;
}

.side-menu ul li a:hover {
  color:white;
}

.side-menu ul li a:hover svg {
  fill:white;
}

.side-menu ul li a > * {
  vertical-align: middle;
}

.side-menu ul svg {
  width: 25px;
  margin-right:5px;
  fill:var(--secondary-color)
}

.playlist {
  height:calc(100% - 190px);
}

.playlist .action-button {
  margin:10px 0;
}

.playlist .action-button .box {
  display: inline-block;
  height:30px;
  width:30px;
  background-color: var(--secondary-color);
  color:black;
  font-size:2rem;
  line-height: 30px;
  text-align: center;
  margin-right:10px;
  vertical-align: middle;
}

.playlist .action-button span {
  display: inline-block;
  line-height:30px;
  vertical-align: middle;
}

.playlist .action-button a:hover .box {
  background-color: white;
}

.playlist .action-button a:hover {
  color:white;
}

.playlist-nav {
  height:calc(100% - 80px);
}

.playlist-nav li {
  padding:10px 0;
}

.playlist-nav a:hover {
  color:white;
}


.bottom-bar .account {
  padding:10px 0;
}

.bottom-bar * {
  vertical-align: middle;
}

.bottom-bar .installapp {
  padding:10px 0;
  color:var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.bottom-bar .installapp svg {
  height:20px;
  margin-right:5px;
}

.bottom-bar .installapp a:hover svg {
  fill:white;
}

.bottom-bar .account:hover {
  cursor: pointer;
}

.bottom-bar .account svg {
  margin: 5px 5px 0 0;
  height:30px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  fill: white;
}

.bottom-bar .account span {
  font-weight: 700;
}

/* Main Content CSS  */
.main-content {
  background-color: var(--content-bg);
  color:white;
  width:calc(100vw - 230px)
}

.main-content .music-selection {
  padding:20px;
}

.main-content .categories-menu ul {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap:25px;
}

.main-content .categories-menu ul li {
  height:30px;
}

.main-content .categories-menu ul a {
  display: inline-block;
  position: relative;
  height:100%;
  color:var(--secondary-color);
  font-weight: 700;
  transition: transform ease 0.3s;
}

.main-content .categories-menu ul a:hover {
  color: white;
  transform:scale(1.1)
}

.main-content .categories-menu ul a.active {
  color:white;
}

.main-content .categories-menu ul a.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 20px);
  width: 40px;
  height: 2px;
  background-color: greenyellow;
}

.main-content .grid-header {
  padding:30px 0;
}

.subtitle {
  font-size:.8rem;
  display: block;
  color:var(--secondary-color)
}

.section-text.subtitle {
  margin:15px 0;
}

.main-content .grid .title,
.main-content .grid .subtitle {
  margin:10px 0;
  text-align: center;
}

.header_message {
  position:sticky;
  opacity: 0.8;
  top:0;
  display: flex;
  align-items: center;
  justify-content: end;
  height:80px;
  background-color: var(--header-bg);
  padding:20px;
  z-index:2;

}

.header_message .btn {
  text-align: right;
}

.main-content .grid {
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.main-content .grid .item {
  width: calc(100% / 6 - 15px);
}

.main-content .grid .item:nth-child(n+7) {
  display:none;
}

.main-content .popular-artists .grid img {
  border-radius:50%;
}

.main-content .grid .cover {
  position:relative;
  cursor:pointer;
  transition: transform ease .3s;
}

.main-content .grid .cover:hover::after {
  position:absolute;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  font-size: 4rem;
  content:'\f144';
  color:white;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.main-content .grid .cover:hover {
  transform:scale(1.08)
}

.main-content .grid .cover:hover img {
  opacity:0.3;
}

/* Play Bar CSS */

.play-bar {
  justify-content: space-between;
  align-items: center;
  height:90px;
  background-color: var(--playBar-color);
  color:white;
  padding:20px;
}

.play-bar > div {
  width: calc(100% / 3)
}

.playing {
  flex-basis: calc(100% / 3);
  justify-content: start;
  align-items: center;
  gap: .9rem;
}

.playing .album {
  cursor: pointer;
  width:40px;
}

.playing .playing-info span {
  font-size:.7rem;
  transition: transform ease 0.3s;
}

.playing .playing-info h5 {
  cursor:pointer;
}

.playing .playing-info span:hover {
  cursor: pointer;
  text-decoration: underline;
  color:white;
}

.playing .playing-actions a {
  margin:5px;
}

.music-controls {
  width:50vw;
  max-width:430px;
}

.music-controls .action-buttons {
  justify-content: center;
  padding-bottom: 1rem;
  gap:1.5rem;
}

.music-controls .action-buttons i {
  color:white;
  font-size: 1.5rem;
  transition: transform ease 0.3s;
}

.music-controls .action-buttons i:hover{
  transform:scale(1.2);
}

.music-controls .progressbar {
  justify-content: space-around;
  align-items: center;
  width:100%;
}

.music-controls .progress-bar {
  position:relative;
  align-items: center;
  width:100%;
  height:5px;
  background-color: var(--secondary-color);
  margin:0 20px;
  border-radius:3rem;
  cursor: pointer;
}

.music-controls .progress-bar .progress-bar-elapsed {
  position:absolute;
  background-color: white;
  height: 5px;
  width: 45%;
  left: 0;
  border-radius:3rem;
  transition:height ease .1s;
}

.music-controls .progress-bar:hover .progress-bar-elapsed::after,
.volume-controls .volume-bar:hover .volume-bar-set::after {
  display:block;
}

.music-controls .time {
  font-size: .8rem; 
}

.volume-controls {
  justify-content: end;
  align-items: center;
}

.volume-controls i {
  padding: 0 5px;
}

.volume-controls .volume-bar {
  position:relative;
  width:10vw;
  max-width:100px;
  height:5px;
  background-color: var(--secondary-color);
  border-radius: 3rem;
  cursor: pointer;
}

.volume-controls .volume-bar {
  justify-content: center;
  align-items: center;
}

.volume-controls .volume-bar .volume-bar-set {
  position:absolute;
  height:5px;
  left: 0;
  width:20%;
  background-color: white;
  border-radius: 3rem;
  transition:height ease .1s;
}

.music-controls .progress-bar .progress-bar-elapsed::after,
.volume-controls .volume-bar .volume-bar-set::after {
  display:none;
  position:absolute;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  content:'\f111';
  color:white;
  right:0;
  top:-50%;
  transform: translateX(50%);
}

.music-controls .progress-bar:hover .progress-bar-elapsed,
.volume-controls .volume-bar:hover .volume-bar-set {
  height:8px;
  background-color: yellowgreen;
}

/* Nasconde la sezione account se la finestra è troppo bassa  */
@media (max-height:590px) {
  .bottom-bar {
    display: none;
  }

  .playlist-nav {
    height:100%;
  }
}

/* Responsive Screen adaption  */
@media (max-width:1100px) {
  .main-content .grid .item {
    width: calc(100% / 4 - 15px);
  }
}

@media (max-width:700px) {
  .main-content .grid .item {
    width: calc(100% / 3 - 15px);
  }

  .playing .playing-info span {
    font-size: .5rem;
  }
}

@media (max-width:600px) {

  .desktop.logo {
    display:none
  }

  .mobile.logo {
    display:block;
    filter:invert(1);
  }

  .main-content .grid .item {
    width: calc(100% / 2 - 15px);
  }

  .sidebar-wrapper {
    width:50px;
    height:100%;
  }
  
  .main-content {
    width:calc(100vw - 50px)
  }

  .sidebar-wrapper {
    text-align: center;
  }

  .side-menu ul a span{
    display:none;
  }
  
  .sidebar .playlist {
    display:none;
  }

  .sidebar-wrapper {
    padding:10px;
  }

  .sidebar-wrapper .bottom-bar span {
    display:none;
  }

  .side-menu .active::before{
    left: -12px;
  }

  .side-menu ul svg {
    margin:0;
  }
}

@media (max-width:500px) {
  .volume-controls {
    flex-direction: column;
  }

  .volume-controls .utility-buttons{
    padding-bottom:10px;
  }

  .volume-controls > a i {
    transform:translateY(-5px)
  }

  .main-content .categories-menu ul a {
    font-size:.75rem;
  }

  .music-controls .action-buttons {
    justify-content: space-around;
    gap:1rem;
  }
}
